form {
    input, textarea, select, .uneditable-input {
        border: 1px solid #bbb;
        width: 98%;
        padding: 10px;
        height: auto !important;
        margin-bottom: 15px;
    }
}